a{
  color: white;
}
body{
  min-width: 300px;
  min-height: 450px;
  background-color: #212121;
  padding: 0px;
  margin: 0px;
}

.navbar{
  text-align: center;
  background: #858585;
background-image: -webkit-linear-gradient(top, #858585, #4d4d4d);
background-image: -moz-linear-gradient(top, #858585, #4d4d4d);
background-image: -ms-linear-gradient(top, #858585, #4d4d4d);
background-image: -o-linear-gradient(top, #858585, #4d4d4d);
background-image: linear-gradient(to bottom, #858585, #4d4d4d);
  height: 52px;
}

.navbar.left{
left: 0px;
}

.nav{

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  position: relative;
  margin-right: auto;
  display: inline-block;
}


.navbar .nav li{
  padding: 7px;
  float: left;
  display: block;
}

.icon{
  width: 42px;
  height: 42px;
}


.input-text{
text-align:center;

}

.input-text h3{
  color: white;
  display:inline-block;

}




.btn {

  background: #858585;
  background-image: -webkit-linear-gradient(top, #858585, #4d4d4d);
  background-image: -moz-linear-gradient(top, #858585, #4d4d4d);
  background-image: -ms-linear-gradient(top, #858585, #4d4d4d);
  background-image: -o-linear-gradient(top, #858585, #4d4d4d);
  background-image: linear-gradient(to bottom, #858585, #4d4d4d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #858585;
  background-image: -webkit-linear-gradient(top, #858585, #4d4d4d);
  background-image: -moz-linear-gradient(top, #858585, #4d4d4d);
  background-image: -ms-linear-gradient(top, #858585, #4d4d4d);
  background-image: -o-linear-gradient(top, #858585, #4d4d4d);
  background-image: linear-gradient(to bottom, #858585, #4d4d4d);
  text-decoration: none;
}
